* {
  box-sizing: border-box;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

#greaterOrEqual {
    margin:0.1em;
    font-size: 1.4em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
;
}
div#headerbtn button {
  background: grey;
  border: 10px;
  border-color: black;



  font-size: 3em;
}
div#headerbtn button:hover {
  color: black;
  background-color: white;
}

div.overview, div.detail, div.compare {
  display:none;
}
